<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#/" class="navbar-brand">My Personal Library</a>
        </div>
        <div id="menu-region"></div>
    </div>
</div>

<div class="container">
    <div id="content-region"></div>
</div>