<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#/" class="navbar-brand">My Personal Library</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{username}}</a>
                <ul class="dropdown-menu" role="menu">
                    <li class="divider"></li>
                    <li><a href="#">Sign out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div id="content-region"></div>
</div>